# Temporary, source control and log files
*.swp
*.swo
*.tmp
*.orig
*.bkup
*~
.mysql

tmp/*
!tmp/.gitkeep
!tmp/pids/.gitkeep

pids/*.pid

system/*
!system/.gitkeep

*.log
*.sqlite3
*.vim
tags
.bash_history
.bundle
.pry_history

# Passwords and config info
config/local_env.yml

important/*
!important/.gitkeep

exchange/*
!exchange/.gitkeep

# Static assets
public/images/*
public/assets/*
public/bugs/*
reports/*
coverage/*

#Folders
financial/*
!financial/.gitkeep

# Private keys
id_rsa
